body {
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2vw; 
}

body > header {
   padding: 8px;
   background-color: purple;
   display: flex;
   height: 14vh;
   align-items: center;
   justify-content: flex-start;
}

h1{
    font-size: 5vw; 
    background-color: black;
    color: #ffffff;
    padding: 2px;
}

#header-ul {
    list-style: none;
    background-color: lightpink;
    color: #ffffff;
    display: flex;
    
}

#header-ul > li {
    padding: 12px;
    margin: 12px 0px;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

#News {
    background-color: red;
    font-size: 5vw; 
    margin: 0px;
    padding: 10px;
}

#Categories {
    background-color: orange;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 8px;
    margin: 0px;
}

#Categories > li {
    padding: 0px 6px;
    font-size: 3vw;
}

#Country {
    background-color: yellow;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 8px;
    margin: 0px;
}

#Country > li {
    padding: 0px 6px;
}

img {
    margin: 6px;
}

.Headline {
    margin: 4px;
    word-wrap: break-word;
    color: blue;
}

.Caption {
    margin: 4px;
}

.Category {
    margin: 4px;
    color: red;
}

.Time {
    margin: 4px;
}

#article_1 {
    grid-area: article_1;
    word-wrap: break-word;
}

#article_2 {
    grid-area: article_2;
    word-wrap: break-word;
}

#article_3 {
    grid-area: article_3;
    word-wrap: break-word;
}

#article_4 {
    grid-area: article_4;
}

#article_5 {
    grid-area: article_5;
}

#article_6 {
    grid-area: article_6;
}

#article_7 {
    grid-area: article_7;
}

#article_8 {
    grid-area: article_8;
}

#article_9 {
    grid-area: article_9;
}

#articles {
    display: grid; 
    grid-template-areas: 
    'article_1 article_2 article_3'
    'article_4 article_5 article_6'
    'article_7 article_8 article_9'
    ;   
    grid-template-columns: clamp(30%, 33%, 34%);
}

#footer-ul {
    background-color: green;
    color: #ffffff;
    list-style: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
}

#footer-ul > div {
    padding: 12px;
    margin: 12px 0px;
}

#footer-ul li {
    padding: 12px 12px;    
}